<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<input type="number">
ㅇㅋㅇㅋ
</body>
<script type="text/javascript" src='/app/js/draft/draft_00_status.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_01_main.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_02_player.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_03_bid.js'></script>

<script type="text/javascript" src='/app/js/draft/draft.js'></script>
</html>