<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>테스트 페이지</title>
</head>
<body>
<input type="number">
    <table>
        <th>구단</th> <th>1라운드</th> <th>2라운드</th><th>3라운드</th> <th>4라운드</th><th>5라운드</th> <th>6라운드</th>
        <tr class="team1"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team_1, pick_1">1</td>
            <td class="team_1, pick_2">2</td>
            <td class="team_1, pick_3">3</td>
            <td class="team_1, pick_4">4</td>
            <td class="team_1, pick_5">5</td>
            <td class="team_1, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team2"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team_2, pick_1">1</td>
            <td class="team_2, pick_2">2</td>
            <td class="team_2, pick_3">3</td>
            <td class="team_2, pick_4">4</td>
            <td class="team_2, pick_5">5</td>
            <td class="team_2, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team3"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team3 pick_1">1</td>
            <td class="team3 pick_2">2</td>
            <td class="team3 pick_3">3</td>
            <td class="team3 pick_4">4</td>
            <td class="team3 pick_5">5</td>
            <td class="team3 pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team4"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team4 pick_1">1</td>
            <td class="team4 pick_2">2</td>
            <td class="team4 pick_3">3</td>
            <td class="team4 pick_4">4</td>
            <td class="team4 pick_5">5</td>
            <td class="team4 pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team5"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team5, pick_1">1</td>
            <td class="team5, pick_2">2</td>
            <td class="team5, pick_3">3</td>
            <td class="team5, pick_4">4</td>
            <td class="team5, pick_5">5</td>
            <td class="team5, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team6"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team6, pick_1">1</td>
            <td class="team6, pick_2">2</td>
            <td class="team6, pick_3">3</td>
            <td class="team6, pick_4">4</td>
            <td class="team6, pick_5">5</td>
            <td class="team6, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team7"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team7, pick_1">1</td>
            <td class="team7, pick_2">2</td>
            <td class="team7, pick_3">3</td>
            <td class="team7, pick_4">4</td>
            <td class="team7, pick_5">5</td>
            <td class="team7, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team8"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team8, pick_1">1</td>
            <td class="team8, pick_2">2</td>
            <td class="team8, pick_3">3</td>
            <td class="team8, pick_4">4</td>
            <td class="team8, pick_5">5</td>
            <td class="team8, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team9"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team9, pick_1">1</td>
            <td class="team9, pick_2">2</td>
            <td class="team9, pick_3">3</td>
            <td class="team9, pick_4">4</td>
            <td class="team9, pick_5">5</td>
            <td class="team9, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
        <tr class="team10"><!-- 첫번째 줄 시작 -->
            <td>구단명</td>
            <td class="team10, pick_1">1</td>
            <td class="team10, pick_2">2</td>
            <td class="team10, pick_3">3</td>
            <td class="team10, pick_4">4</td>
            <td class="team10, pick_5">5</td>
            <td class="team10, pick_6">6</td>
        </tr><!-- 첫번째 줄 끝 -->
    </table>
    <div id="draftee_list">

    </div>
</body>

<script type="text/javascript" src='/app/js/draft/draft.js'></script>

<script type="text/javascript" src='/app/js/draft/draft_00_status.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_01_main.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_02_player.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_03_bid.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_09_result_display.js'></script>

</html>