<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/library/bootstrap-5.2.2-dist/css/bootstrap.min.css">

<link rel="stylesheet" href="/app.css.draft/draft_00.css">

<head>
<meta charset="UTF-8">
<title>테스트 페이지</title>
</head>
<body>
<div class="container">
    <input type="number">
    <div class="row">
        <div id="team_info_left" class="col">

        </div>

        <div id="team_info_right" class="col">

        </div>
    </div>


        <table>
            <th>구단</th> <th>1라운드</th> <th>2라운드</th><th>3라운드</th> <th>4라운드</th><th>5라운드</th> <th>6라운드</th>
            <tr class="team1"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team_1, pick_1">1</td>
                <td class="team_1, pick_2">2</td>
                <td class="team_1, pick_3">3</td>
                <td class="team_1, pick_4">4</td>
                <td class="team_1, pick_5">5</td>
                <td class="team_1, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team2"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team_2, pick_1">1</td>
                <td class="team_2, pick_2">2</td>
                <td class="team_2, pick_3">3</td>
                <td class="team_2, pick_4">4</td>
                <td class="team_2, pick_5">5</td>
                <td class="team_2, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team3"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team3 pick_1">1</td>
                <td class="team3 pick_2">2</td>
                <td class="team3 pick_3">3</td>
                <td class="team3 pick_4">4</td>
                <td class="team3 pick_5">5</td>
                <td class="team3 pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team4"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team4 pick_1">1</td>
                <td class="team4 pick_2">2</td>
                <td class="team4 pick_3">3</td>
                <td class="team4 pick_4">4</td>
                <td class="team4 pick_5">5</td>
                <td class="team4 pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team5"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team5, pick_1">1</td>
                <td class="team5, pick_2">2</td>
                <td class="team5, pick_3">3</td>
                <td class="team5, pick_4">4</td>
                <td class="team5, pick_5">5</td>
                <td class="team5, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team6"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team6, pick_1">1</td>
                <td class="team6, pick_2">2</td>
                <td class="team6, pick_3">3</td>
                <td class="team6, pick_4">4</td>
                <td class="team6, pick_5">5</td>
                <td class="team6, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team7"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team7, pick_1">1</td>
                <td class="team7, pick_2">2</td>
                <td class="team7, pick_3">3</td>
                <td class="team7, pick_4">4</td>
                <td class="team7, pick_5">5</td>
                <td class="team7, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team8"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team8, pick_1">1</td>
                <td class="team8, pick_2">2</td>
                <td class="team8, pick_3">3</td>
                <td class="team8, pick_4">4</td>
                <td class="team8, pick_5">5</td>
                <td class="team8, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team9"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team9, pick_1">1</td>
                <td class="team9, pick_2">2</td>
                <td class="team9, pick_3">3</td>
                <td class="team9, pick_4">4</td>
                <td class="team9, pick_5">5</td>
                <td class="team9, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
            <tr class="team10"><!-- 첫번째 줄 시작 -->
                <td>구단명</td>
                <td class="team10, pick_1">1</td>
                <td class="team10, pick_2">2</td>
                <td class="team10, pick_3">3</td>
                <td class="team10, pick_4">4</td>
                <td class="team10, pick_5">5</td>
                <td class="team10, pick_6">6</td>
            </tr><!-- 첫번째 줄 끝 -->
        </table>
        <div id="draftee_list">

        </div>


    <div id="bid">
        사진
        <div>HakeemOlajuwon</div>
        $
        <div>15</div>
    </div>
    <input type="number">

    <div style="width: 30%">

        <button type="button" class="btn btn-outline-primary">Primary</button>


    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                1 of 2
            </div>
            <div class="col alert-primary">

                        2 of 2
            </div>
        </div>
        <div class="row">
            <div class="col">
                1 of 3
            </div>
            <div class="col">
                2 of 3
            </div>
            <div class="col">
                3 of 3
            </div>
        </div>
    </div>




</div>
</body>
<script type="text/javascript" src="/library/bootstrap-5.2.2-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src='/app/js/draft/draft.js'></script>

<script type="text/javascript" src='/app/js/draft/draft_00_status.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_01_main.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_02_player.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_03_bid.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_04_draft_info.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_05_team_info.js'></script>
<script type="text/javascript" src='/app/js/draft/draft_09_result_display.js'></script>

</html>